<p id="notice"><%= notice %></p>

<h1>Listing Tourist Attractions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tourist_attractions.each do |tourist_attraction| %>
      <tr>
        <td><%= link_to 'Show', tourist_attraction %></td>
        <td><%= link_to 'Edit', edit_tourist_attraction_path(tourist_attraction) %></td>
        <td><%= link_to 'Destroy', tourist_attraction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tourist attraction', new_tourist_attraction_path %>
